:root {
--font-family: 'Open Sans';
--header-border-color:rgb(252,252,252);
--page-bg-color:rgba(161,0,0,.3);
--main-bg-color:rgb(252,252,252); 
--accent-color:rgb(161,0,0);
--text-color:rgb(0,0,0);
--notice-bg-color:rgb(235,235,235);
}
*{
    margin:0px;
    padding:0px;
    font-family:var(--font-family);
    color:var(--text-color);
}
body{
    background:var(--page-bg-color);
    margin:0px auto;
    padding-bottom:64px;
}
main{
    background:var(--main-bg-color);
    max-width:1280px;
    margin:0px auto;
}
header{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:500px;
    min-height:500px;
    overflow:hidden;
}
header img{
    border: 1px solid var(--header-border-color);
    height:100%;
    width:100%;
    min-height:500px;
    object-fit: cover;
}
p.notice{
    background:var(--notice-bg-color);
    padding:16px;
}
article{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:48px 48px 64px 48px;
    gap:24px;
}
article h1{
    font-size:28px;
    font-weight:700;
    color:var(--accent-color);
}
article h2{
    font-size: 24px;
    font-weight:700;
}
section.ingredients, section.instructions, section.serving-suggestions{
    display:flex;
    flex-direction: column;
    gap:16px;
}
section.ingredients ul, section.instructions ol{
    margin-left:40px;
    font-size:16px;
    font-weight:400;
    line-height:32px;
}
section.instructions ol{
    margin-left:24px;
}
section.serving-suggestions ul {
    width:100%;
    list-style: none;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:16px;
}
section.serving-suggestions ul li{
    position:relative;
    flex: 1 1 calc(50% - 8px);
    box-sizing: border-box;
    max-width:calc(100% / 2 - 16px);
    aspect-ratio: 4 / 3;
    overflow:hidden;
}
section.serving-suggestions ul li img{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    width:100%;
    height:auto;
    display:block;
    overflow:hidden;
}
@media (max-width: 710px){
    article{
        padding: 48px 16px 64px 16px;
    }
    section.serving-suggestions ul{
        flex-direction: column;
        gap:24px;
    }
    section.serving-suggestions ul li{
        flex: 1 1 100%;
        max-width: 100%;
        aspect-ratio: 3 / 4;
    }
    section.serving-suggestions ul li img{
        position: static;
        top: auto;
        transform: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
}